
{block content}
<!-- footer -->
            <footer>
                <a href="http://zrarts.cz" target="_blank">Kokolamanada</a><br>
                <a href="http://zrarts.cz" target="_blank">Kolamanada</a><br>
            </footer>
            <!-- footer end -->
{/block}